{% extends 'base.html' %}

{% block content %}
  <div>
    <div>
        <p>
            Up until now we've been working on and running our apps locally. When we've needed additional functionality we've imported and installed external tools and libraries onto our machine, or at least provided them to our apps within a virtual environment
        </p>
        <p>
            When we want to share out app with someone else we have to make sure they have the same versions of the same tools and libraries that we are using or the app won't run correctly
        </p>
    
    
        <a href="/intro" class="float">fascinating...</a>
    </div>
  </div>
{% endblock %}